<launch>

  <!-- Your rosbag file path -->
  <arg name="rosbag_path" default="$(env HOME)/curso-visao-computacional-idase/ros/rotating_detergent_1_6.bag -r 0.1"/>

  <!-- Play the rosbag with remapped topics -->
  <node name="rosbag" pkg="rosbag" type="play" args="$(arg rosbag_path)" output="screen">
    <remap from="/narrow_stereo_textured/left/image_raw" to="stereo/left/image_raw"/>
    <remap from="/narrow_stereo_textured/right/image_raw" to="stereo/right/image_raw"/>
    <remap from="/narrow_stereo_textured/left/camera_info" to="stereo/left/camera_info"/>
    <remap from="/narrow_stereo_textured/right/camera_info" to="stereo/right/camera_info"/>
  </node>

  <!-- Launch stereo_image_proc -->
  <group ns="stereo">
    <node name="stereo_image_proc" pkg="stereo_image_proc" type="stereo_image_proc" output="screen">
        <param name="approximate_sync" value="true"/>
        <param name="manager" value="manager"/>
        <param name="image_transport" value="raw"/> 
        <param name="queue_size" value="10"/> 
  <rosparam command="load" file="$(env HOME)/curso-visao-computacional-idase/ros/stereo_params.yaml"/>
    </node>
  </group>

  <!-- Launch RViz with stereo configuration -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(env HOME)/curso-visao-computacional-idase/ros/stereo.rviz"/>

</launch>